@charset "utf-8";
/* CSS Document */

html, body {
	height:100%;
	margin:0;
	padding: 0;
}

body {
	background:#fbebbd;
}

#container {
	width: 90%;
	padding: 0;
	margin: 0 auto;
}

#wrapper {
	float:left;
	width: 90%;
	margin:0;
	padding:0;	
}

.innerPadding {
	margin: 1em;
	padding: 1em;
	border: 1px solid #666;
}
